<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">3G Admin Area</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="master.artikel" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-file"></i> ARTIKEL </a>
                </li>
                <li>
                    <a ui-sref="master.setting" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon glyphicon-phone-alt"></i> INFORMASI KONTAK </a>
                </li>
                <li>
                    <a ui-sref="master.user" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> USER </a>
                </li>
                <li>
                    <a ui-sref="master.filemanager" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-folder-open"></i>  FILE MANAGER </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-circle" src="img/system/user.jpg" style="height: 20px;border: 1px solid #5e5e5e;"> {{user.username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="master.userprofile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>