<div ng-controller="settingCtrl">
    <div class="title-head">
        <h1>Informasi Kontak</h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">

            <!--FORM-->

            <div class="wrapper-sm">
                <form name="landaform" class="form-horizontal form-validation">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-cog"></i> Setting
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Nama Website</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.nama">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Alamat</label>
                                    <div class="col-sm-8">
                                        <textarea rows="5" class="form-control" ng-model="form.alamat"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">No. Telepon</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.telepon">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Deskripsi (Footer)</label>
                                    <div class="col-sm-8">
                                        <textarea rows="5" class="form-control" ng-model="form.deskripsi"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Facebook</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.facebook">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Instagram</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.instagram">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Twitter</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.twitter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Youtube Channel</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.youtube">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Youtube Frame</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.iframe_youtube">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Jumlah Warga</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.warga">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Warga Laki-Laki</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.warga_laki">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Kepala Keluarga</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.kepala_keluarga">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Warga Perempuan</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.warga_perempuan">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="margin-top: 20px;">
                            <div align="center">
                                <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-click="save(form)"><i
                                        class="glyphicon glyphicon-save"></i>&nbsp;Simpan Perubahan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>