<div ng-controller="penggunaCtrl">
    <div class="title-head">
        <h1>Data Master - User</h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-primary" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                        <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed"><i class="glyphicon glyphicon-search"></i> Pencarian</button>
                        <div class="btn-group pull-right" role="group" style="margin-top: -5px;">
                            <button type="button" class="btn btn-default" ng-click="create();"><i class="glyphicon glyphicon-plus"></i>&nbsp;Tambah Data</button>
                        </div>
                    </div>
                    <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama</label>
                                <div class="col-sm-3">
                                    <input st-search="nama" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-3">
                                    <input st-search="username" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th st-sort="username">Username</th>
                                    <th st-sort="email">Email</th>
                                    <th st-sort="nama">Nama</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                    <td>{{row.username}}</td>
                                    <td>{{row.email}}</td>
                                    <td>{{row.nama}}</td>
                                    <td>
                                        <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                            <button type="button" class="btn btn-info glyphicon glyphicon-pencil" ng-click="update(row)"></button>
                                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="delete(row);"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="4" class="text-center">Loading ... </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <form name="landaform" class="form-horizontal form-validation " novalidate="">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {{formtitle}}
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nama</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="form.nama" ng-disabled="is_view" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" ng-model="form.email" ng-disabled="is_view" required>
                                    </div>
                                </div>
                                <!--                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">Level</label>
                                                                    <div class="col-sm-6">
                                                                        <select class="form-control" id="kategori" ng-model="form.roles_id" ng-disabled="is_view">
                                                                            <option value="">-Pilih Hak Akses-</option>
                                                                            <option ng-repeat="kat in roles" value="{{kat.id}}">{{kat.name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Username</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" ng-model="form.username" ng-disabled="is_view" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-6">
                                            <input type="Password" class="form-control" ng-model="form.password" ng-disabled="is_view">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="margin-top: 20px;">
                            <div align="center">
                                <button type="submit" class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back</button>
                                <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-click="save(form)"><i class="glyphicon glyphicon-save"></i>&nbsp;Simpan Perubahan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
